page-home {
    .inputs {
		position: absolute !important;
		display: block !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
		width: 80% !important; 
		color: #fff !important;
    }
    
    .no-scroll .scroll-content{
		overflow: hidden;
		
      }
      .button-ios {
				margin: 0rem 0rem;
				padding: 0 0em;
			}

			.button-md {
				margin: 0rem 0rem;
				padding: 0 0em;
		}

		.image--background {
			background-size: cover;
	 }
}
